header {
    background-color: #424242;
    
}

.cardgrey {
    background-color: #424242 !important;
    color: #1d2630;
    width: 110px !important;
    max-height: 19% !important;
    min-height: 19% !important;
}

.fonts {
   font-size: 10px !important; 
   text-align: center;
}

header img {
    width: 20px;
}

main {
    background-color:#1E2D3B ;
    height: calc( 100vh - 24.5px) !important;
}

.calc {
    width: calc(100% / 3 ) !important;
}

/* flex-wrap justify-content-between justify-content-center */